.config/VirtualBox
.config/GIMP
.config/Code
.config/Thunar
.config/autostart
.config/dconf
.config/deluge
.config/enchant
.config/gedit
.config/gpick
.config/xfce4
.config/xfce4-session
.config/obs-studio
.config/pulse
.config/ibus
.config/hexchat
.config/Messenger\ for\ Desktop
.config/Genymobile
