<?xml version="1.0" encoding='UTF-8'?><root>
<gpick type="dynv">
<generate_scheme type="dynv">
<hsv_shift type="float" list="true"><li>0</li><li>0</li><li>0</li><li>0</li><li>0</li><li>0</li><li>0</li><li>0</li><li>0</li><li>0</li><li>0</li><li>0</li><li>0</li><li>0</li><li>0</li><li>0</li><li>0</li><li>0</li></hsv_shift>
<hue type="float">180</hue>
<lightness type="float">0</lightness>
<saturation type="float">100</saturation>
<type type="int32">0</type>
<wheel_locked type="bool">true</wheel_locked>
<wheel_type type="int32">0</wheel_type>
</generate_scheme>
<layout_preview type="dynv">
<css_selectors type="dynv">
<assignments type="dynv">
<content_b type="dynv">
<color type="color">0.6 0.6 0.6 0</color>
</content_b>
<content_t type="dynv">
<color type="color">0.1 0.1 0.1 0</color>
</content_t>
<footer_b type="dynv">
<color type="color">0.1 0.1 0.1 0</color>
</footer_b>
<header_b type="dynv">
<color type="color">0.2 0.2 0.2 0</color>
</header_b>
<header_t type="dynv">
<color type="color">1 1 1 0</color>
</header_t>
<menu_b type="dynv">
<color type="color">0.7 0.7 0.7 0</color>
</menu_b>
<navitem_b type="dynv">
<color type="color">0.3 0.3 0.3 4.58309e-41</color>
</navitem_b>
<navitem_bh type="dynv">
<color type="color">0.3 0.3 0.3 0</color>
</navitem_bh>
<navitem_t type="dynv">
<color type="color">0.8 0.8 0.8 0</color>
</navitem_t>
<navitem_th type="dynv">
<color type="color">0.8 0.8 0.8 0</color>
</navitem_th>
<sidebar_b type="dynv">
<color type="color">0.7 0.7 0.7 0</color>
</sidebar_b>
</assignments>
</css_selectors>
<layout_name type="string">std_layout_webpage_1</layout_name>
</layout_preview>
<main type="dynv">
<color_source type="string">color_picker</color_source>
<paned_position type="int32">448</paned_position>
<secondary_color_source type="string"></secondary_color_source>
<vertical_paned_position type="int32">0</vertical_paned_position>
<window type="dynv">
<height type="int32">697</height>
<width type="int32">1340</width>
<x type="int32">10</x>
<y type="int32">55</y>
</window>
</main>
<picker type="dynv">
<contrast type="dynv">
<color type="color">1 1 1 1.73761e-43</color>
</contrast>
<expander type="dynv">
<cmyk type="bool">false</cmyk>
<hsl type="bool">true</hsl>
<hsv type="bool">false</hsv>
<info type="bool">false</info>
<lab type="bool">false</lab>
<lch type="bool">false</lch>
<rgb type="bool">false</rgb>
<settings type="bool">false</settings>
</expander>
<sampler type="dynv">
<falloff type="int32">0</falloff>
<oversample type="int32">0</oversample>
</sampler>
<swatch type="dynv">
<active_color type="int32">1</active_color>
<color1 type="color">0.142857 0.142857 0.142857 0</color1>
<color2 type="color">0.285714 0.285714 0.285714 0</color2>
<color3 type="color">0.428571 0.428571 0.428571 0</color3>
<color4 type="color">0.571429 0.571429 0.571429 0</color4>
<color5 type="color">0.714286 0.714286 0.714286 0</color5>
<color6 type="color">0.857143 0.857143 0.857143 0</color6>
</swatch>
<zoom type="float">20</zoom>
<zoom_size type="int32">150</zoom_size>
</picker>
<recent type="dynv">
</recent>
</gpick>
</root>
